 /* Written by Sofina Pradhan
    Date: 2015/05/17
 */
input,textarea,input[type="submit"],input[type="reset"] {background-color:#7F9FBF;color:#FFFFFF;font-family:"Courier New",Courier,monospace;}
	.imgfeildset
	{
		position:absolute;
		top:0%;
		height:100%;
		width:40%;
		overflow-y:visible;
		overflow-x:hidden;
		border:0px solid black;
		visibility:visible;
		padding:20px;
		left:2px;
	}

	.emailfeildset
	{
		position:absolute;
		left:42.5%;
		height:99%;
		top:0%;
		width:55%;
		border:3px solid black;
		border-style:groove;
		visibility:visible;
		padding:10px;
	}
	
   .tblleftcol
   {
       text-align:right;
	   color:white;
	   width:25%;
   }   
   
	.tblrightcol
	{
	   text-align:left;
	}
	
	.tableheader
    { 
	   color: #220CED;
	   background-color:#d6ba65
	}
	  
	