/* Written by lpeters
 * Style by dostapenko
 * Date: 2015/05/12
 * Usage: Included on all pages.
 */
body {
	background: url("img/background.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	font-size: 1em;
	line-height: 150%;
	color: #99CCFF;
	font-family: Arial, helvetica, sans-serif;
	overflow:hidden;
}

header {
	width: 98%;
	margin-top:0.5%;
	margin-bottom: 0.7%;
	padding-left:40%;
	overflow: hidden;
}

/* Temporary, until image is scaled. */
#logoBar img {
	width: 55%;
	height: 20%;
}
#socialBar {position:fixed;top:0;right:0;height:4em;text-align:right;/*border:1px dotted #007f00;*/}
#socialBar img {
	width:4em;
	height:4em;
}

/* Target <nav> by ID #navBar for now, otherwise some of the styles conflict. */
#navBar {
margin-top:0;
width: 98%;
margin-left: 1%;
margin-right: 1%;
}

#navBar ul {
list-style: none;
margin: 0;
padding: 0;
}

#navBar ul li{
float: left;
text-align: center;
width: calc(100%/5);
box-sizing: border-box;
}

#navBar ul li:first-child{
border-left: none;
}

#navBar ul li a{
font-style: normal;
font-weight: bold;
font-size: 1.3em;
font-family: Arial, helvetica, sans-serif;
text-decoration: none;
display: block;
padding: 2%;
}

#navBar ul li img{
width:8%;
height: 8%;
}

main {
	background: linear-gradient(to bottom, rgba(71, 100, 117, 0.7), rgba(71, 100, 117, 0.7) 30%, rgba(71, 100, 117, 0.7));
	width: 96%;
	height: 70%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	border-radius: 1.5625em;
	border: groove rgba(143, 143, 0, 0.4);
	margin-top: 4%;
	margin-left: 2%;
	margin-bottom: 2%;
	position: fixed;
}
main h3 {
	font-style: normal;
	font-weight: 900;
	font-size: 1.6em;
	font-family: Arial, helvetica, sans-serif;
	text-align: center;
	margin: 0;
	padding: 1%;
	color: #FFC266;
	text-shadow: 0em 0.125em 0.1875em #472B00;
}
footer {position:fixed;bottom:0;right:0;text-align:right;color:#FFFFFF;/*border:1px dotted black;*/}
a {
	text-decoration: none;
}

.button {
	border: 0.125em solid #572906;
	background: #E68A00;
	background: -webkit-gradient(linear, left top, left bottom, from(#d6ba65), to(#9e5d0e));
	background: -webkit-linear-gradient(top, #d6ba65, #9e5d0e);
	background: -moz-linear-gradient(top, #d6ba65, #9e5d0e);
	background: -ms-linear-gradient(top, #d6ba65, #9e5d0e);
	background: -o-linear-gradient(top, #d6ba65, #9e5d0e);
	background-image: -ms-linear-gradient(top, #d6ba65 0%, #9e5d0e 100%);
	padding: 0.75em 1.5em;
	-webkit-border-radius: 0.375em;
	-moz-border-radius: 0.375em;
	border-radius: 0.375em;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 0.0625em 0, inset rgba(255,255,255,0.4) 0 0.0625em 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 0.0625em 0, inset rgba(255,255,255,0.4) 0 0.0625em 0;
	box-shadow: rgba(255,255,255,0.4) 0 0.0625em 0, inset rgba(255,255,255,0.4) 0 0.0625em 0;
	text-shadow: #7ea4bd 0 0.0625em 0;
	color: #08304a;
	font-size: 1.2em;
	font-family: helvetica, serif;
	text-decoration: none;
	vertical-align: middle;
	z-index:10;
}
.button:hover {
	border: 0.125em solid #164199;
	text-shadow: #57371e 0 0.0625em 0;
	background: #3e779d;
	background: -webkit-gradient(linear, left top, left bottom, from(#4861c4), to(#3e779d));
	background: -webkit-linear-gradient(top, #4861c4, #3e779d);
	background: -moz-linear-gradient(top, #4861c4, #3e779d);
	background: -ms-linear-gradient(top, #4861c4, #3e779d);
	background: -o-linear-gradient(top, #4861c4, #3e779d);
	background-image: -ms-linear-gradient(top, #4861c4 0%, #3e779d 100%);
	color: #fff;
}
.button:active {
	text-shadow: #1e4158 0.0625em 0;
	border: 0.125em solid #0a3c59;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
	color: #fff;
}
