/* Written by lpeters
 * Date: 2015/05/12
 * Usage: Included on all pages.
 */
h1 {font-family:Arial,Helvetica,sans-serif;color:green;}
p {text-align:center;color:red;}
body {background-image:url("img/background.jpg");background-size:100%;}
footer {position:fixed;bottom:0;right:0;text-align:right;/*border:1px dotted black;*/}
main {position:absolute;top:10em;}
