#wrapper {position:absolute;width:100%;height:100%;background-color:yellow;top:0px;left:0px;right:0px;border:0px solid black;}
#companylogo {position:absolute;width:20%;height:20%;top:0px;left:0px;right:0px;border:0px solid black;background:url(travellogo.jpg);background-size:260px 130px;background-repeat:no-repeat}
#header1 {position:absolute;width:80%;height:8%;background-color:white;top:0px;left:20%;right:0px;border:0px solid black;background-size:contain;}
#header2 {position:absolute;width:78%;height:5%;background-color:#C8E1F7;top:6%;left:21%;right:0px;border:8px solid ;border-style:groove;}	   
#header3 {position:absolute;width:80%;height:6%;background-color:white;top:14%;left:20%;right:0px;border:0px solid black;}	
a {text-decoration: none;}
/*.fontface {font-family:cambria}*/
p {text-align:left;font-family:cambria;}
