
/* Packages section */

main {
	overflow-y: auto;
}

button {
	background: #FFC266;
	color: #000080;
}

.package-main {
	color: white;
	float: right;
	margin-top: 1em;
	margin-right: 2em;
	width: 44%;
	height: 75%;
	min-width: 480px;
}

.package-main img {
	float: left;
	width: 100%;
	max-width: 600px;
	max-height: 400px;
}

.package-main h1 {
	color: #FFC266;
}

#img-pack-micro {
	float: left;
	width: 100%;
	min-height: 100px;
	min-width: 100px;
	max-height: 120px;
	max-width: 120px;
}

.package-mini {
	color: white;
	float: left;
	margin-top: 1em;
	margin-left: 2em;
	min-width: 320px;
}

.package-mini h2 {
	color: #FFC266;
}

.package-mini img {
	float: left;
	margin-right: 1em;
	width: 34%;
	min-width: 220px;
}
