	/* Course: CPRG 210
	   Author: MPoffenroth
	   Usage:  
	   Function: Packages.php CSS 
	   Date: 2015/05/25
	*/ 

main {
	overflow-y: auto;
	padding: 0;
}

button {
	background: #FFC266;
	color: #000080;
	font-weight: 600;
	white-space: nowrap;
	margin-left: 2em;
	margin-right: 2em;
	width: 110px;
	white-space: nowrap;
}

.package-main {
	float: right;
	margin-right: 2em;
	width: 44%;
	height: 75%;
	min-width: 480px;
}

.package-main dl {
	width: 100%;
	margin: 0;
	padding: 0;
}

.package-main dd {
	float: left;
	width: 50%;
}

#img-pack-main {
	float: left;
	width: 100%;
	height: 400px;
	width: 600px;
	border-radius: 25px 25px 0px 0px;
}

#img-pack-mini {
	height: 120px;
	width: 240px;
	margin-right: 1em;
	border-radius: 25px;
}

#img-pack-micro {
	float: left;
	width: 100%;
	min-height: 100px;
	min-width: 100px;
	max-height: 120px;
	max-width: 120px;
}

.package-mini {
	float: left;
	margin-left: 1em;
	min-width: 320px;
	width: 44%;
}

.package-mini dl {
	width: 100%;
	overflow: hidden;
	display: inline; 
}

.package-mini dd {
	float: left;
	width: 40%;
}
